body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.fixed-center {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.f14 {
    font-size: 14px !important;
}

.w14 {
    width: 14px;
}

.p-absolute-right {
    position: absolute;
    top: 0px;
    z-index: 100;
    line-height: 34px;
    right: 0px;
    padding-right: 10px;
}

.p-absolute-left {
    position: absolute;
    top: 0px;
    z-index: 100;
    line-height: 34px;
    left: -16px;
    padding-right: 10px;
}

.pp {
    padding-right: 20px;
    right: 90px;
}

.p-r {
    position: relative;
}

.align-items-center {
    -webkit-box-align: center !important;
    -webkit-align-items: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
}

.w-25 {
    width: 25% !important;
}

.w-50 {
    width: 50% !important;
}

.w-75 {
    width: 75% !important;
}

.w-100 {
    width: 100% !important;
}

.h-25 {
    height: 25% !important;
}

.h-50 {
    height: 50% !important;
}

.h-75 {
    height: 75% !important;
}

.h-100 {
    height: 100% !important;
}

.p-f {
    padding: 4px 8px;
}

/*****************************************************************/
html, body {
    height: 100%;
}

.d-flex {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
}

.flex-row {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
    -webkit-flex-direction: row !important;
    -ms-flex-direction: row !important;
    flex-direction: row !important;
}

.flex-column {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -webkit-flex-direction: column !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
}

.pointer {
    cursor: pointer;
}

.over-flow {
    overflow: hidden;
}

.over-flow-y {
    overflow-y: scroll;
}

.over-flow-y::-webkit-scrollbar {
    width: 2px;
}

.over-flow-y::-webkit-scrollbar-thumb {
    background-color: black;
}

.flex-grow0 {
    flex-grow: 0;
    flex-shrink: 0;
}

.flex-grow1 {
    flex-grow: 1;
    flex-shrink: 1;
}

.position-abs {
    position: absolute;
}

.pd10 {
    padding: 10px !important;
}

.mg0 {
    margin: 0px;
}

.border-0 {
    border: 0 !important;
}

.border-top-0 {
    border-top: 0 !important;
}

.border-right-0 {
    border-right: 0 !important;
}

.border-bottom-0 {
    border-bottom: 0 !important;
}

.border-left-0 {
    border-left: 0 !important;
}

.border-radius0 {
    border-radius: 0px !important;
}

.d-none {
    display: none !important;
}

.footer-bgc {
    background-color: #222;
    border-color: #080808;
}

.fcf {
    color: #fff;
}

.tblr {
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;

}

.menus {
    width: 200px;
    border: 1px solid #292b2c;
}

.fixed-left {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
}