body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.fixed-center {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.f14 {
    font-size: 14px !important;
}

.w14 {
    width: 14px;
}

.p-absolute-right {
    position: absolute;
    top: 0px;
    z-index: 100;
    line-height: 34px !important;
    right: 0px;
    padding-right: 10px;
}

.p-absolute-left {
    position: absolute;
    top: 0px;
    z-index: 100;
    line-height: 34px;
    left: -16px;
    padding-right: 10px;
}

.pp {
    padding-right: 20px;
    right: 90px;
}

.p-r {
    position: relative;
}

.w-25 {
    width: 25% !important;
}

.w-50 {
    width: 50% !important;
}

.w-75 {
    width: 75% !important;
}

.w-100 {
    width: 100% !important;
}

.h-25 {
    height: 25% !important;
}

.h-50 {
    height: 50% !important;
}

.h-75 {
    height: 75% !important;
}

.h-100 {
    height: 100% !important;
}

.p-f {
    padding: 4px 8px;
}

/*****************************************************************/
html, body {
    height: 100%;
}

.d-flex {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
}

.pointer {
    cursor: pointer;
}

.over-flow {
    overflow: hidden;
}

.over-flow-y {
    overflow-y: scroll;
}

.over-flow-y::-webkit-scrollbar {
    width: 2px;
}

.over-flow-y::-webkit-scrollbar-thumb {
    background-color: black;
}

.flex-grow0 {
    flex-grow: 0;
    flex-shrink: 0;
}

.flex-grow1 {
    flex-grow: 1;
    flex-shrink: 1;
}

.flex-row {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
    -webkit-flex-direction: row !important;
    -ms-flex-direction: row !important;
    flex-direction: row !important;
}

.flex-column {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -webkit-flex-direction: column !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
}

.justify-content-end {
    -webkit-box-pack: end !important;
    -webkit-justify-content: flex-end !important;
    -ms-flex-pack: end !important;
    justify-content: flex-end !important;
}

.align-items-center {
    -webkit-box-align: center !important;
    -webkit-align-items: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
}

.align-items-end {
    -webkit-box-align: end !important;
    -webkit-align-items: flex-end !important;
    -ms-flex-align: end !important;
    align-items: flex-end !important;
}

.position-abs {
    position: absolute !important;
}

.position-fix {
    position: fixed !important;
}

.pd10 {
    padding: 10px !important;
}

.pd0 {
    padding: 0px;
}

.mg0 {
    margin: 0px;
}

.mgr10 {
    margin-right: 10px;
}

.mgl10 {
    margin-left: 10px;
}

.border-0 {
    border: 0 !important;
}

.border-top-0 {
    border-top: 0 !important;
}

.border-right-0 {
    border-right: 0 !important;
}

.border-bottom-0 {
    border-bottom: 0 !important;
}

.border-left-0 {
    border-left: 0 !important;
}

.border-radius0 {
    border-radius: 0px !important;
}

.d-none {
    display: none !important;
}

.footer-bgc {
    background-color: #222;
    border-color: #080808;
}

.fcf {
    color: #fff;
}

.tblr {
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;

}

.menus {
    width: 200px;
}

.fixed-left {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
}

@media (min-width: 768px) {
    .col-sm-7-mine {
        width: 460px !important;
        margin-right: 120px;
        margin-bottom: 150px;
    }
}

.self-hover {
    background-color: #333744;
}

.fc-white a {
    color: #ffffff !important;
}

.fc-white div {
    color: #ffffff !important;
}

.super_menus {
    background-color: #42485B;
    text-align: left;
}

.tc {
    text-align: center;
}

.super_menus > div {
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
}

.super_menus > div:hover {
    width: 100%;
    height: 100%;
    background-color: #00C1DE;
}

.self-sub-hover {
    background-color: #333744;
}

.self-sub-hover a {
    padding-left: 10px;
    padding-right: 10px;
    color: #ffffff;
    vertical-align: middle;
    text-decoration: none;
    display: block;
    height: 100%;
}

.self-sub-hover:hover {
    background-color: #4A5064;
}

.transform-rotate {
    transition: transform 0.3s;
}

.transform-90 {
    transform: rotate(-90deg);
}

.transform90 {
    transform: rotate(0deg);
}

.transform-height {
    transition: height 0.3s;
    overflow: hidden;
}

/**************************index start**********************************/

.index-basic {

}

/*空格表示层级关系，逗号表示并列关系*/
.index-basic .head-pic {
    width: 100px;
    height: 120px;
}

.head-pic > img {
    width: 100%;
    height: 100px;
}

.head-pic > div, .op-text {
    width: 100%;
    text-align: center;
    color: #039;
    cursor: pointer;

}

.rect {
    width: 256px;
    height: 256px;
}

/**************************index end************************************/

.pure-tarrow {
    position: absolute;
    display: block;
    top: -11px;
    left: 50%;
    margin-left: -11px;
    border-color: transparent transparent rgba(0, 0, 0, .25);
    border-width: 0 11px 11px;
    border-style: solid;
}

/*top是指距离三角顶部的距离*/
.pure-tarrow:after {
    top: 1px;
    content: " ";
    margin-left: -10px;
    border-width: 0 10px 10px;
    position: absolute;
    display: block;
    border-color: transparent transparent #fff;
    border-style: solid;
}

.pure-rarrow {
    position: absolute;
    display: block;
    right: -11px;
    top: 50%;
    margin-top: -11px;
    border-color: transparent transparent transparent rgba(0, 0, 0, .25);
    border-width: 11px 0px 11px 11px;
    border-style: solid;
}

/*top是指距离三角顶部的距离*/
.pure-rarrow:after {
    right: 1px;
    content: " ";
    margin-top: -10px;
    border-width: 10px 0px 10px 10px;
    position: absolute;
    display: block;
    border-color: transparent transparent transparent #fff;
    border-style: solid;
}

.pure-larrow {
    position: absolute;
    display: block;
    left: -11px;
    top: 50%;
    margin-top: -11px;
    border-color: transparent rgba(0, 0, 0, .25) transparent transparent;
    border-width: 11px 11px 11px 0px;
    border-style: solid;
}

/*top是指距离三角顶部的距离*/
.pure-larrow:after {
    left: 1px;
    content: " ";
    margin-top: -10px;
    border-width: 10px 10px 10px 0px;
    position: absolute;
    display: block;
    border-color: transparent #fff transparent transparent;
    border-style: solid;
}

.pure-barrow {
    position: absolute;
    display: block;
    bottom: -11px;
    left: 50%;
    margin-left: -11px;
    border-color: rgba(0, 0, 0, .25) transparent transparent;
    border-width: 11px 11px 0px;
    border-style: solid;
}

/*top是指距离三角顶部的距离*/
.pure-barrow:after {
    bottom: 1px;
    content: " ";
    margin-left: -10px;
    border-width: 10px 10px 0px;
    position: absolute;
    display: block;
    border-color: #fff transparent transparent;
    border-style: solid;
}

.right-arrow {
    top: 13px;
    border: 1px solid rgba(0, 0, 0, .25);
    background: transparent;
    height: 15px;
    width: 15px;
    transform: rotate(-45deg);
    border-top: none;
    border-left: none;
    display: inline-block;
}

.preloader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #f95372;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

.preloader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #00abff;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}

.preloader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #e7ba08;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

.content-style {
    background-color: rgba(0, 0, 0, .4);
    border-radius: 4px;
}